/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sixtyfour+Convergence&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Passion+One:wght@400;700;900&family=Sixtyfour+Convergence&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bree+Serif&family=Passion+One:wght@400;700;900&family=Sixtyfour+Convergence&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* Standard page styling */
body {
    padding-top: 100px; 
    background-color: #eaeaea;
}

.navbar, footer {
    background-color: #394053 !important;
}

.navbar-nav .nav-link {
    color: white !important; 
}

.navbar-brand {
    font-family: 'Sixtyfour Convergence';
    color: white;
}

.navbar-nav .nav-link.active {
    color: #a44a3f !important; 
}

.navbar-nav .nav-link:hover {
    color: #648de5 !important; 
}

.accordion-button, .accordion-button:not(.collapsed), .colorButton {
    background-color: #478978;
    color: white;
}

.colorButton:hover {
    background-color: #648de5;
}

footer svg {
    fill: #a44a3f; 
}

footer svg:hover {
    fill: #648de5; 
}

footer a {
    text-decoration: none; 
}

footer a:hover {
    text-decoration: none; 
}

h2 {
    font-family: 'Anton';
}

h4 {
    font-family: 'Passion One';
    font-size: 2rem;
}

h5 {
    font-family: 'Passion One';
    font-size: 1.5rem;
}

p {
    font-family: 'Bree Serif';
}


#friendRequest {
    padding-top: 100px;
    padding-bottom: 100px;
}

.profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%; 
    display: block;
    margin: 0 auto; 
}

/* Life Page Specifics */
.florida {
    padding-top: 150px;
}
.evolution-of-me {
    padding-top: 200px;
    padding-bottom: 180px;
}

#slideButton {
    width: auto;
    padding: 10px 20px;
}

.image-container {
    position: relative;
    width: 500px;
    height: 500px;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 1s ease-in-out;
}

.slide-out {
    transform: translateX(-200%); 
}

.slide-in {
    position: relative;
    animation: slideIn 1s ease-out forwards;
}

@keyframes slideIn {
    from {
      transform: translateX(-100%); 
    }
    to {
      transform: translateX(0); 
    }
  }

  .hidden {
    display: none;
}


.visible {
    visibility: visible;
}

.video-wrapper {
    position: relative;
    width: 100%; 
    height: 550px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    overflow: hidden; 
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
    opacity: 0.5;
}

.content {
    position: relative; 
    z-index: 1; 
    color: #394053; 
    text-align: center; 
    text-shadow: 
        -1px -1px 0 #fff, 
        1px -1px 0 #fff,  
        -1px 1px 0 #fff,  
        1px 1px 0 #fff; 
}

.gallery {
    padding-top: 100px;
    padding-bottom: 100px;
}

.gingerbread {
    padding-top: 250px;
}

.art-gallery {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url('img/art-gallery.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Covers the full viewport initially */
    width: 100vw; 
    position: relative;
    overflow: hidden;
    text-shadow: 
        -1px -1px 0 #fff, 
        1px -1px 0 #fff,  
        -1px 1px 0 #fff,  
        1px 1px 0 #fff; 
}


/* Quiz Page */
.question-bar {
    background-color: #648de5;
    color: #eaeaea;
    text-align: center;
    padding: 190px 0;
}

  